<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Landing Page</title>
</head>
<body>
    <h1>Kanionland: Gestor de Personajes</h1>
    <p>Aplicativo para automatizar la creación y gestión de personajes.</p>
    <p>En el siguiente botón puedes iniciar creando un personaje base.</p>
    <button onclick="redirectToAddData()">Go to Add Data Page</button>

    <script>
        function redirectToAddData() {
            // Redirect to add_data.html
            window.location.href = "{{ url_for('add_data.add_data_page') }}";
        }
    </script>
</body>
</html>
